/* src/ManagerComponents/ManagerNavbar.css */
.manager-navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.manager-navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.manager-navbar a:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

.manager-navbar button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.manager-navbar button:hover {
  background-color: #c82333;
}